*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    display:flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display:flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1) #2d4059;
            display: flex;
            flex-flow: row nowrap;
            height: 200px;
            align-items: center;
        }
           .logo{
                flex: 1 1 auto;
                display: flex;
                height: 100px;
                width: 100px;
                animation-duration: 5s;
                animation-name: slideinLogo;
            }
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
           .nav{
                flex: 5 1 auto;
                letter-spacing: 1px;
                display: flex;
                justify-content:space-around;
                animation-duration: 3s;
                animation-name: slideinMenu;
            }
                .nav a{
                    color: rgb(171, 170, 170);
                    font-size: 12px;
                    padding:0px 10px;
                }
                .nav a:hover{    
                    color: #262633;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
                justify-content:flex-end;
                animation-duration: 5s;
                animation-name: slideinSocial;
            }
                .social a{
                    color: rgb(171, 170, 170);
                    font-size: 10px;
                    padding:0;
                }
                .social a:hover{
                    color:#262633
                }
        .header text{
            background: #f07a3f2d;
        }
            h1{
                font-family: 'Lora', serif;
                color: rgb(255, 119, 0);
                font-size: 21px;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                animation-duration: 5s;
                animation-name: slideinText;
            }
    .section{
        background: rgba(0,0,0,.1);
        display: flex;
    }
        .articulos{
            background: rgba(0,0,0,.1);
            flex: 2 1 auto;
            display:flex;
            flex-flow: row wrap;
        }
            .article{
                background: #fcf3f6;
                flex: 1 1 45%;
                color: #444;
                font-size: 13px;
                margin: 10px 10px 0 10px;
                letter-spacing: 1px;
            }
                .columnas{
                    column-count: 2;
                    column-gap:20px;
                    column-rule:4px;
             }
                .article a{
                    color:#fcf3f6;
                    font: size 13px;
                    padding: 10px;
                    color: #444;
                    margin: 10px 0;
                }
                h3{
                    font-size: 18px;
                    background: #f88692;
                    color:#fcf3f6;
                    margin-left:10px;
                    margin-top:10px;
                    margin-right: 10px;
                    margin-bottom: 0;
                    padding: 10px 0 0 5px;
                }
                h2{
                    font-size: 13px;
                    color: rgb(252, 252, 88);
                    margin-left: 5px;
                    margin-top: -50px;
                }
            .conclusion{
                background: rgba(0,0,0,.1);
                flex: 1 1 100%;
                font-size: 13px;
                margin: 10px 10px 0 10px;
                text-align: center;
                letter-spacing: 1px;
            }
        .aside{
            background:rgba(0,0,0,.1);
            flex: 1 1 45%;
            color: #444;
            font-size: 13px;
            margin: 0 5px 0 0;
            padding: 20px;
            letter-spacing: 1px;
            text-align: center;
        }
            h4{
                font-size: 21px;
                color: #444;
            }
    .footer{
        background:rgba(0,0,0,.1);
        display:flex;
        justify-content: center;
    }
        .pie{
            background:  white;
            width: 300px;
            text-align: center;
        }
@media all and (max-width: 800px){
    body{
        font-size: smaller;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .section{
        flex-direction: column;
    }
    .articulos{
        flex-flow: column
    }
    .aside{
        margin-right: 0;
        padding-top: 0;
        justify-content: center;
    }
}
@media all and(max-width:600px){
    body{
        font-size:smaller;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .section{
        flex-direction: column;
    }
     .articulos{
        flex-direction: column;
    }
    .aside{
        margin-right: 0;
        padding-top: 0;
        justify-content: center;
    }
}
@media all and (max-width:400px){
    .menu{
        flex-direction: column;
        height: auto;
    }
    .section{
        flex-direction: column;
    }
    .articulos{
        flex-direction: column;
    }
    article{
        font-size: 10px;
    }
    h3{
        font-size: 14px;
    }
    h2{
        font-size: 11px;
    }
    .columnas{
        column-count: 1;
    }
    .aside{
        margin-right: 0;
        padding-top: 0;
        justify-content: center;
        font-size: 11px;
    }
    h4{
        font-size: 11;
    }
@media all and (max-width:300px){
    .menu{
        flex-direction: column;
        height: auto;
    }
        .nav{
            letter-spacing: 0px;
            justify-content:center;
        }
            .nav a{
                font-size: 10px;
            }
            .social a{
                font-size: 14px;
                color: rgb(255, 119, 0);;
            }
            h1{
                font-size: 16px;
                font-weight: 200;
                text-align: center;
                line-height: 1;
            }
    .section{
        flex-direction: column;
    }
        article{
            font-size: 10px;
        }
        .articulos{
            flex-direction: column;
        }
        h3{
            font-size: 14px;
        }
        h2{
            font-size: 11px;
        }
        .columnas{
            column-count: 1;
        }
    .aside{
        margin-right: 0;
        padding-top: 0;
        justify-content: center;
        font-size: 11px;
        }
        h4{
            font-size: 11;
        }
    }
}
@keyframes slideinLogo{
    from {
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slideinMenu{
    from {
        margin-bottom: 100%;
        width: 300%;
    }
    to{
        margin-up: 0%;
        width: 100%;
    }
}
@keyframes slideinSocial{
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}
@keyframes slideinText{
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}